@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.content{
    background-image: linear-gradient( 20deg, rgba(0, 0, 255, 0.13), rgba(39, 39, 130, 0.76)), url("1006563_21-beautiful-buildings-07-wallpapers-hd-building-beautiful_1600x1000_h.jpg");
    background-size: cover;
    background-position: center;
}

.con{
    width: 100%;
    /*overflow: hidden;*/

}
.nav-item{
    width: 160px;
    height: 30px;
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.nav-item:hover{
    color: rgb(85,85,175) !important;
}
.active{
   color: rgb(85,85,175) !important;
}

.menu-btn{
    width: 65%;
    height: 100%;
    text-align: end;

    display: none;
}
.menu-btn button{
    font-size: 30px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    margin-right: 1rem;
    transition: 0.5s linear;
    margin-top: 1.6rem;
    margin-bottom: auto;
    font-weight: 700;
}
/*MEDIA-QUERY*/

@media (min-width: 1000px) and (max-width: 1100px) {

    .nav-item{
        font-size: 16px;
    }

}
@media (min-width: 400px) and (max-width: 1000px){
    .menu-btn{
        display: block;

    }


}
@media (min-width: 550px) and (max-width: 700px){
    .menu-btn{
        display: block;
        width: 50%;

    }


}
@media (min-width: 420px) and (max-width: 550px){
    .menu-btn{
        display: block;
        width: 30%;

    }


}
@media (min-width: 300px) and (max-width: 420px){
    .menu-btn{
        display: block;
        width: 20%;

    }


}